<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} client:idle>
  <header role="banner" class="header">
    <div class="flex items-center justify-start w-full gap-4 lg:hidden">
      {%- if section.settings.menu != blank -%}
        <header-drawer client:media="(max-width: 1023px)">
          <details>
            <summary class="w-8 h-8 [.no-js_details[open]_&]:absolute [.no-js_details[open]_&]:left-1/2 [.no-js_details[open]_&]:z-50 [.no-js_details[open]_&]:-translate-x-1/2 [.no-js_details[open]_&]:-translate-y-1/2 [.menu-opening_&]:before:absolute [.menu-opening_&]:before:inset-0 [.menu-opening_&]:before:h-screen [.menu-opening_&]:before:bg-black/25" aria-haspopup="dialog" aria-label="{{ 'sections.header.menu' | t }}">
              <span class="w-full h-full flex items-center justify-center [.no-js_details[open]_&]:hidden">
                {% render 'icon-menu' %}
              </span>
              <span class="w-full h-full hidden items-center justify-center [.no-js_details[open]_&]:flex">
                {%- render 'icon-close' -%}
              </span>
            </summary>
            <div id="menu-drawer" class="fixed inset-0 h-screen bg-contrast z-20 max-w-lg overflow-y-auto [.js_&]:transition [.js_&]:duration-300 [.js_&]:-translate-x-full [.js_.menu-opening_&]:translate-x-0" role="dialog" aria-modal="true" aria-label="{{ 'sections.header.menu' | t }}" tabindex="-1">
              <div class="flex items-center px-6 h-nav sm:px-8 md:px-12 justify-between">
                <h2 class="max-w-prose font-body-weight-bold text-lead">{{ 'sections.header.menu' | t }}</h2>
                <button type="button" class="p-4 -m-4 transition text-primary hover:text-primary/50 [.no-js_details[open]_&]:hidden" aria-label="{{ 'accessibility.close' | t }}">
                  {%- render 'icon-close' -%}
                </button>
              </div>
              <nav class="grid gap-4 px-6 py-6 sm:gap-6 sm:px-12 sm:py-8 text-copy after:content-[''] after:block after:h-nav">
                {%- for link in section.settings.menu.links -%}
                  <a href="{{ link.url }}"{% if link.current %} aria-current="page"{% endif %}>
                    {{ link.title | escape }}
                  </a>
                {%- endfor -%}
              </nav>
            </div>
          </details>
        </header-drawer>
      {%- endif -%}

      <form action="{{ routes.search_url }}" method="get" role="search" class="items-center gap-2 sm:flex w-full max-w-[335px]">
        <input type="hidden" name="type" value="product">

        <button type="submit" class="flex items-center justify-center w-8 h-8">
          {% render 'icon-search' %}
          <span class="sr-only">{{ 'general.search.search' | t }}</span>
        </button>

        <input class="{{ input_class }} bg-transparent hidden md:inline-block text-left lg:text-right border-b transition border-transparent -mb-px border-x-0 border-t-0 appearance-none px-0 py-1 focus:ring-transparent placeholder:opacity-20 placeholder:text-inherit"
          type="search"
          name="q"
          placeholder="{{ 'general.search.search' | t }}"
        >
      </form>
    </div>

    <div class="flex items-center gap-12 w-full lg:w-auto">
      {%- if request.page_type == 'index' -%}
        <h1 class="w-full lg:w-auto">
      {%- endif %}
          <a href="{{ routes.root_url }}" class="flex items-center self-stretch leading-[3rem] justify-center flex-grow w-full h-full font-heading font-heading-weight md:leading-[4rem] lg:inline lg:w-auto lg:h-auto lg:leading-none">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 820 213.79" width="820" height="214" aria-label="devsk company logo" class="icon icon-main-logo" fill="#FFF"><script xmlns=""/>
              <path d="M78.18,127.89c-29.26,0-45.14-8.63-45.14-30.87s15.87-31.06,45.14-31.06,45.33,8.63,45.33,31.06-16.07,30.87-45.33,30.87ZM123.51,0V58.1c-12.24-12.85-31.94-19.56-56.23-19.56C31.13,38.54,.15,53.88,.15,97.02s30.98,58.29,67.13,58.29c24.29,0,43.99-6.71,56.23-19.56v17.64h32.7V0h-32.7Z"/>
              <path d="M248.59,63.46c20.66,0,36.72,4.41,42.27,20.32h-85.49c5.16-15.91,20.84-20.32,43.22-20.32Zm-1.72,65.19c-21.8,0-39.02-5.94-42.65-23.97h121.64c0-51.38-34.23-66.15-77.08-66.15-45.71,0-78.03,16.87-78.03,58.48s33.28,58.29,76.12,58.29,69.62-13.61,77.08-42.37h-32.51c-8.23,11.5-22,15.72-44.57,15.72Z"/>
              <polygon points="444.39 40.45 400.4 130.19 356.22 40.45 319.88 40.45 376.88 153.39 423.54 153.39 480.73 40.45 444.39 40.45"/>
              <path d="M479.18,113.7c0,36.05,40.16,41.61,83.58,41.61s72.1-5.56,72.1-37.39c0-30.1-30.03-31.25-74.02-34.51-38.82-2.88-44.75-4.03-44.75-11.12,0-6.52,8.8-8.82,39.78-8.82s42.27,2.3,42.27,11.7h32.9c0-31.06-30.79-36.62-73.25-36.62-40.16,0-74.59,5.56-74.59,35.09,0,27.23,24.29,31.06,73.82,33.94,39.59,2.49,44.94,3.07,44.94,11.7s-5.74,11.12-41.12,11.12-48.96-4.6-48.96-16.68h-32.7v-.02Z"/>
              <polygon points="820 40.45 764.15 40.45 682.11 91.26 682.11 39.79 649.4 39.79 649.4 153.39 682.11 153.39 682.11 127.31 720.55 104.11 774.48 153.39 820 153.39 746.94 86.66 820 40.45"/>
              <rect y="185.79" width="820" height="28"/>
              <script xmlns=""/>
            </svg>
            <span class="sr-only">{{ shop.name }}</span>
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif %}

      <nav class="hidden lg:flex gap-8">
        {%- for link in section.settings.menu.links -%}
          <a href="{{ link.url }}">
            {{ link.title }}
          </a>
        {%- endfor -%}
      </nav>
    </div>

    <div class="flex items-center justify-end w-full gap-4 lg:gap-1 lg:w-auto">
      <form action="{{ routes.search_url }}" method="get" role="search" class="hidden lg:flex items-center gap-2">
        <input class="{{ input_class }} bg-transparent hidden md:inline-block text-left lg:text-right border-b transition border-transparent -mb-px border-x-0 border-t-0 appearance-none px-0 py-1 focus:ring-transparent placeholder:opacity-20 placeholder:text-inherit"
          type="search"
          name="q"
          placeholder="{{ 'general.search.search' | t }}"
        >

        <button type="submit" class="flex items-center justify-center w-8 h-8">
          {% render 'icon-search' %}
          <span class="sr-only">{{ 'general.search.search' | t }}</span>
        </button>
      </form>

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="flex items-center justify-center w-8 h-8">
          {% render 'icon-account' %}
          <span class="sr-only">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      <a href="{{ routes.cart_url }}" class="relative flex items-center justify-center w-8 h-8" id="cart-icon-bubble">
        {%- render 'cart-icon-bubble' -%}
      </a>
    </div>
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "class": "z-10",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Primary navigation"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "Enable sticky header",
      "info": "Header shows on the screen as customers scroll up."
    }
  ]
}
{% endschema %}
